<app-header>
  <label class="search">
    <input type="text" [(ngModel)]="searchLabel" placeholder="Search" />
  </label>
</app-header>

<ng-container
  *ngIf="
    store.countries$ | async | filterCountries: searchLabel as countriesList
  "
>
  <div fxLayout="row" fxLayoutGap="25px" class="content">
    <ng-container *ngIf="store.regions$ | async as regions">
      <div fxFlex="20" *ngFor="let region of regions">
        <text-region [attr.text]="region"></text-region>
        <br />
        <div
          class="content-country"
          *ngFor="let country of countriesList | countriesByRegion: region"
        >
          <item-country
            [attr.name]="country.name"
            [attr.flag]="country.flag"
            (click)="openDetail(country)"
          ></item-country>
          <mat-icon
            *ngIf="country.favorite"
            color="accent"
            class="icon-favorite"
            >star</mat-icon
          >
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<router-outlet></router-outlet>
